[submodule "official-demo/impress.js"]
	path = official-demo/impress.js
	url = https://github.com/henrikingo/impress.js.git
[submodule "cube/impress.js"]
	path = cube/impress.js
	url = https://github.com/henrikingo/impress.js.git
[submodule "empty-slides/impress.js"]
	path = empty-slides/impress.js
	url = https://github.com/henrikingo/impress.js.git
[submodule "empty/impress.js"]
	path = empty/impress.js
	url = https://github.com/henrikingo/impress.js.git
[submodule "classic-slides/impress.js"]
	path = classic-slides/impress.js
	url = https://github.com/henrikingo/impress.js.git
